{% extends "base.html" %}

{% block content %}
  {% include "tracker/calendars.html" %}
  <h2>{{ title }}</h2>
  {% for teetime in object_list %}
  <h3>{{ teetime.time|date:'g:i A' }}</h3>{% if perms.tracker.edit_teetime %}<a href="{{ teetime.get_update_url }}">Edit</a>{% endif %}
    <table>
      {% for person in teetime.people.all %}
        <tr><td>{{ person.name }}</td></tr>
      {% endfor %}
      {% if teetime.people.all|length < teetime.slots %}
        {% for i in teetime.openings %}
        <tr><td><a href="{{ teetime.get_claim_url }}">Available</a></td></tr>
        {% endfor %}
      {% endif %}
    </table>
  {% endfor %}
{% endblock %}
