{% extends "base.html" %}
{% load event_tags %}

{% block edit_link %}
<li><a href="{{ object.get_update_url }}">Edit</a></li>
{% endblock %}

{% block content %}
  <p>{{ object.slots }}</p>
  <table>
    {% for person in object.people.all %}
      <tr><td>{{ person.name }}</td></tr>
    {% endfor %}
    {% if object.people.all|length < object.slots %}
      {% for i in openings %}
      <tr><td><a href="{{ object.get_claim_url }}">Available</a></td></tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock %}
